<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Users_destination show</h2>

<table>
  <tr>
    <th>User</th>
    <th>Country</th>
    <th>Destination</th>
    <th colspan="1"></th>
  </tr>
  <tr>
      <% @destinations.each do |e|%>
    <td><%= e.user.username %></td>
    <td><%= e.country.name %> </td>
    <td>
        <ul>
            <p><li> <%= e.excursion %> </li></p>
            <p><li> <%= e.time_of_visit %> </li></p>
            <p><li> <%= e.best_moment %> </li></p>
        </ul>
    </td>
    <td colspan="1">
    <% if current_user == e.user %>  <%= link_to "edit", edit_user_destination_path(current_user,e) %></td>
    <%end%>
  </tr>
  <% end %>
</table>

</body>
</html>